DATABASE_URL=postgresql://postgres.okwztdtjondaqdzqgcuc:your_password@aws-1-ap-northeast-2.pooler.supabase.com:5432/postgres
MODEL_PATH=models/energy_lstm_model.pt
SCALER_PATH=data/processed/lstm_scaler.pkl
TEST_DATA_PATH=data/processed/test_lstm_scaled.npy